.welcome{
  text-align: center;
  justify-content:center ;
}
.title {
  border-top: solid 5px black;
  background-color: lightskyblue;

  border-bottom: 5px solid black;
}
.welcome p{
  color: blueviolet;
}
.headfeats{
  border-top: solid 5px black;
background-color: lightskyblue;
  border-bottom: solid 5px black;
 
}
.feats{
  margin: 10px;
  padding: 10px;
}
.feats div {
  color: blueviolet;
  text-align: center; /* This ensures the text inside li is left-aligned */
  padding: 10px;
  margin: 10px;
}

.log-sign{
  display: flex;
  justify-content: space-evenly;
}
.log-sign button{
  font-size: 20px;
  color: white;
  background-color: blueviolet;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}